.openJobsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 20px 40px;
}

.openJobsSection .jobItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.openJobsSection a {
  text-align: left;
}

@media (max-width: 860) {
  .jobItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .openJobsSection a {
    text-align: center;
  }
}
