.hiperlink {
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hiperlink span {
  width: 250px;
  height: 1px;
  background-color: #7d7873;
  margin: 25px 0 18px 0;
}

.hiperlink a {
  text-decoration: none;
  color: #359c9c;
  font-weight: 500;
}
